/* Goog Fonts */
/* font-family: 'Mulish', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Red Rose', cursive; */
/* Google Fonts */

:root {
    --primaryColor: black;
    --secondaryColor: whitesmoke;
    --headerColor: red;
    --subHeaderColor: green;
    --bg: black;
    --color: whitesmoke;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    /* text-align: center; */
    /* background: var(--bg); */
    /* color: var(--color); */
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
}
#body {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: square;
    margin-bottom: 3px;
}
.menu {
    margin: 10px;
}
.menu .info {
    float: left;
}
.menu .mode-container {
    float: right;
}
select {
    background: bisque;
    color: brown;
    padding: 5px;
}
select:hover {
    background: black;
    color: brown;
}
option {
    border-radius: 10px;
    margin-top: 10px;
}
option:nth-child(1) {
    background: whitesmoke;
    color: rgb(128, 128, 128);
}
option:nth-child(2) {
    background: black;
    color: rgb(82, 82, 82);
}
.head {
    max-width: 80%;
}
.head p {
    font-size: 1.3rem;
    /* color: rgb(255, 68, 0); */
    font-weight: bold;
}
.desktop-head {
    display: none;
}
.mobile-head {
    display: block;
}
.info-icon {
    color: rgb(0, 152, 163);
    background: rgb(219, 219, 219);
    padding: 5px;
    margin-right: 15px;
    border-radius: 50%;
}
.contact-child {
    color: rgb(80, 253, 0);
}
.contact-child:hover {
    color: rgb(25, 151, 151);
}
.header {
    color: var(--headerColor);
    border-bottom: 3px solid var(--primaryColor);
    text-align: center;
    width: calc(25%);
    font-weight: bolder;
    font-family: 'Red Rose', cursive;
}
.header-icon {
    /* border: 1px solid rgb(192, 192, 192); */
    border: none;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 1px 1px 10px rgb(255, 156, 156);
}
.cv {
    clear: both;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.cv #left, #experience {
    display: grid;
    place-items: center;
}
#experience {
    margin: 20px 0;
}
.sub-header {
    color: var(--subHeaderColor);
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}
.name {
    color: var(--primaryColor);
    text-align: center;
}
.contact-icon {
    animation: shake 2s infinite;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 20px rgb(95, 95, 95);
    border: none;
    border-radius: 50%;
}
.btn {
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    margin-top: 5px;
}
.btn-pri {
    border: 1px solid rgb(45, 45, 253);
    background: rgb(45, 45, 253);
    color: white;
    padding: 5px;
}
.btn-pri:hover {
    border: 1px solid rgb(58, 58, 255);
    background: rgb(58, 58, 255);
    color: white;
    padding: 5px;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.auto-flex {
    width: 35%;
    margin: 20px;
}
.full-flex {
    display: block;
    width: 80%;
    margin: 20px;
}
.software {
    text-align: center;
}
.software .auto-flex {
    width: 12%;
    margin: 35px;
}
.programming-skills {
    text-align: center;
}
.programming-skills .auto-flex, #education .auto-flex {
    width: 15%;
}

fieldset {
    text-align: center;
    border: none;
    border-top: 3px solid black;
}
fieldset legend {
    color: var(--headerColor);
    text-transform: uppercase;
}
.sub-name {
    border-style: dotted;
    border: none;
    border-top: 3px dotted grey;
    color: grey;
}
.sub-name, .sub-name legend {
    color: grey;
    text-transform: unset;
}
label {
    font-weight: bold;
}
/* Loading CSS */


.logo-lg {
    width: calc(1rem * 3.5);
    border-radius: 10px;
}
/* Loading container */
.length {
    width: 100px;
    height: 0.63rem;
    background: rgb(190, 190, 190);
    overflow: hidden;
    border: blue;
}
.hobbies {border: yellow;}
.interest {border: coral;}
/* Loading progress bar */
.load {background: rgb(0, 255, 106); height: 0.63rem;}
.load-hobby {background: yellow;}
.load-interest {background: mediumvioletred;}
/* Loading % */
.english {width: 90%;}
.french {width: 25%;}
.gaming, .books{width: 75%;}
.music, .problem-solving{width: 82%;}
.adventure{width: 60%;}
.learning{width: 82%;}
.photography{width: 82%;}
.info{font-weight: bold;}
.research{width: 78%;}
.machines{width: 92%;}
/* end loading */

.grid {
    display: grid;
    grid-template-columns: auto;
}
.grid-child {
    margin-bottom: 20px;
    clear: both;
}
.remark, .round-length {
    float: right;
    clear: left;
}
.remark {
    clear: right;
    float: right;
}
.skills {
    float: left;
}
/* Additional skills bg */
.round {
    background: rgb(110, 110, 255);
    width: 15px;
    height: 15px;
    margin: 1px;
}
.one, .two, .three, .four, .five {
    background: rgb(0, 0, 95);
}

/* end of additional skills bg */
.link:hover {
    color: rgb(0, 0, 95);
}
#footer {
    background: rgb(226, 226, 226);
    width: 100%;
    clear: both;
    text-align: center;
    background: url(../img/htmlCssJs.jpeg) left ;
}
#footer-body {
    background: rgba(226, 226, 226, 0.342);
    width: 100%;
    padding: 20px 0;
    transition: all 0.3s 0.3s linear;
    backdrop-filter: saturate(180%) blur(5px);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
}
#footer-title {
    font-weight: bolder;
    color: orangered;
}

/* Animation */
@keyframes shake {
    0% {
        transform: translateY(5px);
        color: brown;
        border-radius: 50%;
    }25% {
        transform: translateY(-5px);
        box-shadow: 1px 1px 20px rgb(255, 217, 217);
    }50% {
        transform: translateY(5px);
        color: coral;
    }75% {
        transform: translateY(-5px);
        box-shadow: 1px 1px 20px rgb(140, 151, 255);
    }100% {
        transform: translateY(5px);
    }
}


/* Tablet screen */
@media (min-width: 850px) {
    
    .head {
        max-width: 90%;
    }
    .desktop-head {
        display: block;
    }
    .mobile-head {
        display: none;
    }
    #left {
        float: left;
        max-width: 25%;
        background: rgb(0, 0, 95);
        border-top-left-radius: 20px;
        color: whitesmoke;
    }
    #right {
        float: right;
        max-width: 70%;
    }
    .auto-flex {
        width: 40%;
        margin: 20px;
    }
    .logo-lg {
        /* width: calc(1rem * 5); */
        border-radius: 10px;
        color: rgb(173, 173, 173)
    }
}